* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    padding: 10px;
}

.inputPart input {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #656464;
    width: 80%;
}

.inputPart button {
    width: 20%;
    padding: 8px 12px;
    background: green;
    color: white;
    font-size: 16px;
    border: none;
    border: 2px solid white;
}

.inputPart button:hover {
    background-color: rgb(1,68,1);
    cursor: pointer;
}

.taskList {
margin-top: 10px;
}

.taskList ul{
    list-style-type: none;
    }

 .taskList ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }   

 .taskList ul li:hover{
    background-color: rgb(200, 197,197);
    cursor: pointer;
 } 
 .taskList ul li span {
    padding: 7px 10px;
 }



 .taskList ul li span:nth-child(2):hover{
    background-color: rgb(17, 99,3);
    color: white;
    cursor: pointer;
 } 

 .done{
    text-decoration: line-through;
 }

 .inputPart{
    background-color: green;
    padding: 10px;
    text-align: center;
    color: white;
 }